@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

section.page {
  background-color: color("background-light");

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - #{$navbar-height} - #{$bottom-bar-height});
  }

  .mobileHeader {
    display: none;
    min-height: calc(100vh - #{$navbar-height} - #{$bottom-bar-height});
  }

  .title {
    @include title(color("accent"));
    margin-bottom: 10px;
  }

  .headerText {
    @include header-text;
  }

  .learnMoreBtn {
    @include button(color("background-light"));
    margin-top: 50px;
  }
}

.illustration {
  :global(#skills) {
    transform-box: fill-box;
    transform-origin: center center;
    animation: illustration-animation 20s infinite linear;
  }
}

@keyframes illustration-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@include tablet() {
  section.page {
    .header {
      display: none;
    }

    .mobileHeader {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .illustration {
      width: 100%;
      height: auto;
    }
  }
}
