@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.scene {
  perspective: 600px;
  min-height: 330px;

  &:hover article.project {
    transform: rotateY(180deg);

    @include tablet() {
      transform: rotateY(0deg);
    }
  }
}

article.project {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;

  .projectFrontFace {
    position: absolute;
    backface-visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px;
    border-radius: 3px;
    background-color: color("background-dark");
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
      0 1px 5px 0 rgba(0, 0, 0, 0.2);

    .projectImage {
      width: 400px;
      margin: 0 auto;
      height: auto;

      @include tablet() {
        width: 250px;
      }
    }

    .mobileButtons {
      display: none;

      @include tablet() {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
    }

    .projectDetails {
      h3 {
        @include title(color("white"));
        text-align: center;
      }
    }

    .technologiesContainer {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .technologyIcon {
        width: 5%;
        margin: 0 5px;
      }
    }
  }

  .projectBackFace {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color("background-dark");

    width: 100%;
    height: 100%;
  }
}

.sourceCodeBtn {
  @include button(color("background-dark"));

  margin: 0 auto;
  display: block;
}

.liveBtn {
  @include outline-button(color("background-dark"));

  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;

  @include tablet() {
    margin-top: 0;
    margin-left: 10px;
  }
}
