@import "./assets/styles/variables";

body {
  padding: 0;
  margin: 0;
  cursor: none;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h3,
p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  outline: none;
  cursor: none;
}

button {
  cursor: none;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 16px;
}
