@import "./variables";

// Texts
@mixin header-text {
  font-size: font-size("header");
  font-size: 700;
  color: color("white");
  margin: 0;
  padding: 0;

  @include tablet() {
    font-size: font-size("header-mobile");
  }

  @content;
}

@mixin menu-item {
  font-size: font-size("menu");
  font-weight: 300;
  color: color("white");

  @include tablet() {
    font-size: font-size("menu-item-mobile");
  }

  @content;
}

@mixin title($color) {
  font-size: font-size("title");
  font-weight: 400;
  color: $color;

  @include tablet() {
    font-size: font-size("title-mobile");
  }

  @content;
}

@mixin text($color) {
  font-size: font-size("text");
  font-weight: 300;
  color: $color;

  @include tablet() {
    font-size: font-size("text-mobile");
  }

  @content;
}

//Components
@mixin button($color) {
  background-color: color("accent");
  font-size: font-size("text");
  font-weight: 400;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  border: 2px solid color("accent");
  outline: none;
  color: $color;
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 2px solid color("accent");
    color: color("accent");
    background-color: transparent;
  }

  @include tablet() {
    font-size: font-size("text-mobile");
    border: 1px solid color("accent");
  }

  @include mobile() {
    font-size: font-size("text-mobile");
    border: 1px solid color("accent");
  }

  @content;
}

@mixin outline-button($color) {
  background-color: $color;
  font-size: font-size("text");
  font-weight: 400;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  border: 2px solid color("accent");
  outline: none;
  color: color("accent");
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $color;
    background-color: color("accent");
  }

  @content;
}

// MEDIA QUERIES
@mixin tablet {
  @media only screen and (max-width: 1000px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 640px) {
    @content;
  }
}
